<div class="container articles_content">
  <h1 align="center">Users</h1>
  <div>
    <%= will_paginate %>
  </div>
  <div class="row">
  <% @users.each do |user| %>
      <div class="col-md-4">
        <div class="well well-lg">
          <div class="user-gravatar">
            <%= link_to gravatar_for(user), user_path(user) %>
          </div>

          <div class="user-info">
            <%= link_to user.username, user_path(user) %>
          </div>

          <div class="user-articles">
            <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
          </div>
        </div>
      </div>
  <%end%>
</div>
</div>
