<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid"
            src="https://driftrock-blabs-blog.s3.amazonaws.com/uploads/blabs/image/353/blog_banner_trends.jpg"
            alt="blog_img"
            style="max-width: 100%; height: auto">
    </div>
  </div>
</div> -->
<div class="jumbotron">
  <div class="ab-content">
    <h1>Alpha Blog</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-medium", id: "signup-btn" %>
  </div>
</div>
