<!-- <div class="container">
  ul class="nav navbar-nav navbar-fixed-bottom footer">
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "About", about_path%></li>
  </ul> -->
  <!-- <small>here</small>
</div> -->
<footer class="navbar navbar-fixed-bottom">
  <div class="container">
    <ul class="footer-nav">
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "About", about_path%></li>
    </ul>
    <div class="footer-credits">
      <p>Copyright &copy; cXolMedia <span><i>R. Carlos Hdz.</i></span></p>
    </div>
  </div>
</footer>
